@page "/"
@using ToDoMauiBlazor.Tools;
@inject IJSRuntime jsRuntime

@if (ToDoLists == null)
{
    <p><em>no data</em></p>
}
else
{
    <!-- List Section -->
    <section>
        <header>Listen</header>
        <main class="main-lists">
            <table>
                <tbody>
                    @if (ToDoLists is not null)
                    {
                        @if (ToDoLists.Any())
                        {
                            @foreach (var list in ToDoLists)
                            {
                                <tr class="@((list.Selected) ? "row-selected" : "")" @onclick="@(() => RowList_OnClick(list))" @ondblclick="@(() => RowList_OnDoubleClick(list))">
                                    <td>@list.Name</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr class="row-dummy">
                                <td>Füge Deine erste Liste hinzu</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </main>
        <footer>
            <button @onclick="ButtonAddList_OnClick">Hinzufügen</button>
            <button disabled="@ListIsNotSelected" type="button" @onclick="ButtonDeleteList_OnClick">Entfernen</button>
            <button disabled="@ListIsNotSelected" type="button" @onclick="ButtonUpdateList_OnClick">Umbenennen</button>
        </footer>
    </section>

    <!-- Add List Popup -->
    <div class="popup-background @DisplayListAddPopup">
        <div class="popup popup-list-add">
            <header>
                <label>Liste hinzufügen</label>
                <div @onclick="ButtonAddListClose_OnClick">&times;</div>
            </header>
            @if (NewToDoList is not null && ListAddPopupIsActive)
            {
                <EditForm Model="NewToDoList">
                    <main>
                        <InputText @ref="inputTextAddList" @bind-Value="NewToDoList.Name"></InputText>
                    </main>
                    <footer>
                        <button class="button-abort" type="button" @onclick="ButtonAddListAbort_OnClick">Abbrechen</button>
                        <button class="button-ok" type="submit" @onclick="ButtonAddListOk_OnClick">OK</button>
                    </footer>
                </EditForm>
            }
        </div>
    </div>

    <!-- Delete List Popup -->
    <div class="popup-background @DisplayListDeletePopup">
        <div class="popup popup-list-delete">
            <header>
                <label>Liste wirklich entfernen?</label>
                <div @onclick="ButtonDeleteListClose_OnClick">&times;</div>
            </header>
            @if (ListDeletePopupIsActive)
            {
                <EditForm Model="SelectedToDoList">
                    <main>
                        Willst Du die ausgewählte Liste wirklich entfernen? <br>
                        Sämtlicher Inhalt geht unwiederruflich verloren!
                    </main>
                    <footer>
                        <button class="button-abort" type="button" @onclick="ButtonDeleteListAbort_OnClick">Abbrechen</button>
                        <button class="button-ok" type="submit" @onclick="ButtonDeleteListOk_OnClick">OK</button>
                    </footer>
                </EditForm>
            }
        </div>
    </div>

    <!-- Update List Popup -->
    <div class="popup-background @DisplayListUpdatePopup">
        <div class="popup popup-list-update">
            <header>
                <label>Liste umbenennen</label>
                <div @onclick="ButtonUpdateListClose_OnClick">&times;</div>
            </header>
            @if (SelectedToDoList is not null && ListUpdatePopupIsActive)
            {
                <EditForm Model="UpdatedListName">
                    <main>
                        <InputText @ref="inputTextUpdateList" @bind-Value="UpdatedListName"></InputText>
                    </main>
                    <footer>
                        <button class="button-abort" type="button" @onclick="ButtonUpdateListAbort_OnClick">Abbrechen</button>
                        <button class="button-ok" type="submit" @onclick="ButtonUpdateListOk_OnClick">OK</button>
                    </footer>
                </EditForm>
            }
        </div>
    </div>



    <!-- Task Section -->
    <section>
        <header>Aufgaben</header>
        <main class="main-tasks">
            <table>
                <tbody>
                    @if (ToDoTasks is not null)
                    {
                        if (ToDoTasks.Any())
                        {
                            @foreach (var task in ToDoTasks)
                            {
                                @if (ShowFinished || !task.Finished && !ShowFinished)
                                {
                                    <tr class="@((task.Selected) ? "row-selected" : "") @((task.Finished && ShowFinished) ? "row-finished" : "")" @onclick="@(() => RowTask_OnClick(task))">
                                        <td>@task.Name</td>
                                    </tr>
                                }
                            }
                        }
                        else
                        {
                            <tr class="row-dummy">
                                <td>Füge Deine erste Aufgabe hinzu</td>
                            </tr>
                        }

                    }
                    else
                    {
                        <tr class="row-dummy">
                            <td>Wähle eine Liste aus um eine Aufgabe zu erstellen.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </main>
        <footer>
            <button disabled="@ListIsNotSelected" type="button" @onclick="ButtonAddTask_OnClick">Hinzufügen</button>
            <button disabled="@TaskIsNotSelected" type="button" @onclick="ButtonDeleteTask_OnClick">Entfernen</button>
            <label class="checkbox-container">
                <input id="show-finished" type="checkbox" @bind="ShowFinished">
                <span class="checkbox-checkmark"></span>
                <label for="show-finished">Erledigte anzeigen</label>
            </label>
        </footer>
    </section>

    <!-- Add Task Popup -->
    <div class="popup-background @DisplayTaskAddPopup">
        <div class="popup popup-task-add">
            <header>
                <label>Aufgabe hinzufügen</label>
                <div @onclick="ButtonAddTaskClose_OnClick">&times;</div>
            </header>
            @if (NewToDoTask is not null && TaskAddPopupIsActive)
            {
                <EditForm Model="NewToDoTask">
                    <main>
                        <InputText @ref="inputTextAddTask" @bind-Value="NewToDoTask.Name"></InputText>
                    </main>
                    <footer>
                        <button class="button-abort" type="button" @onclick="ButtonAddTaskAbort_OnClick">Abbrechen</button>
                        <button class="button-ok" type="submit" @onclick="ButtonAddTaskOk_OnClick">OK</button>
                    </footer>
                </EditForm>
            }
        </div>
    </div>

    <!-- Delete Task Popup -->
    <div class="popup-background @DisplayTaskDeletePopup">
        <div class="popup popup-task-delete">
            <header>
                <label>Aufgabe wirklich entfernen?</label>
                <div @onclick="ButtonDeleteTaskClose_OnClick">&times;</div>
            </header>
            @if (TaskDeletePopupIsActive)
            {
                <EditForm Model=SelectedToDoTask>
                    <main>
                        Willst Du die ausgewählte Aufgabe wirklich entfernen? <br>
                        Sämtlicher Inhalt geht unwiederruflich verloren!
                    </main>
                    <footer>
                        <button class="button-abort" type="button" @onclick="ButtonDeleteTaskAbort_OnClick">Abbrechen</button>
                        <button class="button-ok" type="submit" @onclick="ButtonDeleteTaskOk_OnClick">OK</button>
                    </footer>
                </EditForm>
            }
        </div>
    </div>

    <!-- Description Section -->
    <section>
        @if (NewToDoTask is not null)
        {
            <EditForm Model="NewToDoTask">
                <header>Beschreibung</header>
                <main class="main-description">
                    <label class="input-label">Name</label>
                    <input class="input-description" @bind="NewToDoTask.Name">
                    <label class="input-label">Notiz</label>
                    <textarea @bind="NewToDoTask.Description"></textarea>
                    <div class="dingens">
                        <label class="checkbox-container">
                            <input id="task-finished" type="checkbox" @bind="NewToDoTask.Finished">
                            <span class="checkbox-checkmark"></span>
                            <label for="task-finished">Erledigt</label>
                        </label>
                        <label class="date-label">@NewToDoTask.LastChanged.ToDateTimeString()</label>
                    </div>
                </main>
                <footer>
                    <button disabled="@TaskIsNotSelected" type="submit" @onclick="ButtonUpdateTask_OnClick">Änderungen übernehmen</button>
                </footer>
            </EditForm>
        }
        else
        {
            <header>Beschreibung</header>
            <main class="main-description">
                <label class="input-label">Name</label>
                <input class="input-description" disabled>
                <label class="input-label">Notiz</label>
                <textarea disabled></textarea>
                <div class="dingens">
                    <label class="checkbox-container">
                        <input id="task-finished" type="checkbox" disabled>
                        <span class="checkbox-checkmark"></span>
                        <label for="task-finished">Erledigt</label>
                    </label>
                </div>
            </main>
            <footer>
                <button disabled="@TaskIsNotSelected" type="submit" @onclick="ButtonUpdateTask_OnClick">Änderungen übernehmen</button>
            </footer>
        }
    </section>
}

@code {

}
